body {
  font-family: meiryo;
  margin: 0;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.navbar > .options {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  width: 50%;
  height: 100%;
}

.navbar .option {
  position: relative;
  height: 100%;
  width: 20%;
  padding: 16px;
  text-align: center;
}

.navbar .option:hover {
  cursor: pointer;
}

.option > a {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.main-section {
  background-image: url("../images/studio.jpg");
  height: 750px;
  width: 100%;
  background-size: cover;
  opacity: 0.5;
}

.main-section > h2 {
  /* color: red; */
}

.introduction {
  background-color: lightblue;
}

.concept {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 24px 0;
}

.concept #studio-image {
  height: 100%;
  width: 100%;
}

.concept > .text {
  color: grey;
  font-family: "Osaka-Mono";
  text-align: center;
  line-height: 150px;
}

.concept #instructor {
  height: 800px;
  width: 450px;
}

.top {
  background-color: white;
  text-align: center;
}
.topimage {
  width: 100%;
}
.menu {
  float: right;
  background-color: lightblue;
}

.clear {
  content: "";
  display: bloak;
  clear: both;
}
